/* FONDO ------------------------------------------------------------------------------------------------ */
section{
    max-height: 100vh;
    height: 100vh;
    background-image: url("../images/fondo_circulos.svg");
    background-repeat: no-repeat;
    background-size: cover; 
}
#error{
    color: var(--txt-error);
    font-size: 14px;
}
h1{
    margin-top: 7rem;
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: 500;
    color: var(--txt-color);
}

form{
    margin-top: 1rem;
    width: 80%;
}

input, select{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 35px;
    width: 100%;
    padding-left: 1rem;
}

input:focus, select:focus {
    outline: none;
}

.hidden{
    display: none;
}
dialog button{
    width: 48%;
    height: 30px;
}


@media screen and (min-width:750px){
    form{
        width: 40%;
    }
}

