/* FONDO ------------------------------------------------------------------------------------------------ */

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    overflow: hidden;
}
#foto-banco{
    margin-top: 7rem;
    margin-left: 4rem;
    width: 46vw;
    height: 40rem;
}

#contenedor-contenedores-login{
    height: 100vh;
    width: 50vw;
}

#contenedor-formulario{
    margin-top: 2rem;
    width: 60%;
    border-radius: 30px;
    background-color: var(--blanco-contenedores);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

#switch{
    width: 20rem;
    height: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:2rem;
    padding-right:2rem;
    align-items: center;
    position: relative;
}
#switch-bg {
    width: 50%;
    height: 85%;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    position: absolute;
    transition: 0.3s;
    left: 0;
}

.textoSwitch{
    width: 50%;
    height:80%;
    border-radius: 30px;
    cursor: pointer; 
    transition: 0.3s; 
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
label{
    margin-bottom: 1rem;
}
#error{
    color: var(--txt-error);
    font-size: 12px;
}
input{
    height: 30px;
    width: 300px;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}
#boton-acceder{
    width: 50%;
    margin-top: 2rem;
    margin-left: 50%;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.20);
}

.hidden {
    display: none;
}

@media screen and (max-width:1270px){
    #foto-banco{
        width: 35vw;
    }
    
    #contenedor-contenedores-login{
        width: 75vw;
    }
    
}

@media screen and (max-width:950px){
    #foto-banco{
        width: 300px;
    
    }
    #contenedor-contenedores-login{
        width: 75vw;
    }
    input{
        width: 225px;
    }
    #switch{
        width: 225px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    #switch-bg {
        width: 50%;
        font-size: 12px
    }
    .textoSwitch{
        font-size:12px;
    }
    h1{
        font-size: 18px;
    }
    label{
        font-size: 12px;
    }
    
}

@media screen and (max-width:750px){
    #foto-banco{
        display: none;
    }
    #contenedor-contenedores-login{
        justify-content: start;
        width: 100vh;
        background-image: url("../images/icono_probeta.svg");
        background-repeat: no-repeat;
        background-size: 30rem; 
        background-position: -50px bottom;
    }
    h1{
        margin-top: 10rem;
    }
    #contenedor-formulario{
        margin-top: 1rem;
        background-color: transparent;
        box-shadow: none;
    }
}