@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#main-menu{
    --bg-color: var(--fondo-pagina);
    --txt2-color: var(--txt-color);
    --hover-bg: var(--bones);
    --hover-txt: var(--circulo);
    --div-color: var(--verde-oscuro);
    --menu-height: 7rem;
}
.pagina-actual{
    height: 30px;
    width:200px ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--botones);
    color: var(--fondo-pagina);
    border: solid 2px var(--botones);
}
#logo{
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
}
#main-menu ul{
    padding-top: 2rem;
    height: 200px;
    background-color: var(--bg-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: var(--menu-height);
    left: 0;
    width: 100%;
    transform: translateY(-50%) scaleY(0);
    transition: .5s;
}

#main-menu.activo ul{
    transform: translateY(0) scaleY(1);
}
#main-menu li{
    height: 30px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 1rem;
    border: solid 2px var(--botones);
    color: var(--botones);
    text-align: center; 
}
#main-menu li:hover{
    background-color: var(--botones);
    color: var(--fondo-pagina);
}

#main-menu{
    background-color: var(--bg-color);
    color: var(--txt-color);
    height: var(--menu-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .5em;
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.hamburguesa{
    cursor: pointer;
    margin-right: 2rem;
    width: 2em;
    height: 2em;
}

.hamburguesa div{
    background-color: var(--txt-color);
    width: 2em;
    height: .2em;
    margin: .3em auto;
    border-radius: 2px;
    transition: .5s;
}
.hamburguesa div:nth-child(2){
    width: 1.25em;
    margin-left: 0.75rem;
}
.hamburguesa div:nth-child(3){
    width: 0.75em;
    margin-left: 1.25rem;
}

#main-menu.activo .hamburguesa div:nth-child(2){
    opacity: 0;
}
#main-menu.activo .hamburguesa div:nth-child(1){
    transform: translateY(.6em) rotate(45deg);
}
#main-menu.activo .hamburguesa div:nth-child(3){
    width: 2em;
    margin-left: 0;
    transform: translateY(-.6em) rotate(-45deg);
}
@media screen and (min-width: 1000px) {

    #main-menu ul {
        padding-top: 0rem;
        background: transparent;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        transform: none;
        transition: none;
        height: 100%;
        width: 95%;
        z-index: 2;
    }
    #logo{
        margin-left: 20%;
        z-index: 10;
        position: relative;
    }
    #main-menu li {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0;
        opacity: 1;
        transform: none;
    }

    .hamburguesa {
        display: none;
    }
    
}
