@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* ESTILOS GENERALES------------------------------------------------------------------------------------ */

:root{
    --txt-color: #192052;
    --campos-fondo: #DEE6FB;
    --blanco-contenedores: #F1F4FD;
    --fondo-pagina: #F0F4FE;
    --botones: #2A3EC9;
    --txt-error: #d61818;
    --circulo: #C2D5FB;
    --circulo2: #C2D5FB;
    --circulo3: #9BBDF9;
    --secciones: #7095ED;
    --intermedio: #f5c960;
    --bien: #69f53b;
}

*{
    color:inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondo-pagina);
    color: var(--txt-color);
}

html{
    scroll-behavior: smooth;
}
/* ESTILOS GENERALES DE ELEMENTOS ----------------------------------------------------*/
.boton{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 30px;
    height: 40px;
    cursor: pointer;
}

.boton-blanco{
    background-color: var(--fondo-pagina);
    color: var(--botones);
    border: solid 3px var(--botones);
}

.boton-azul{
    background-color: var(--botones);
    color: var(--campos-fondo);
}

.recuadros-inputs{
    border-bottom: solid 2px grey;
    background-color: transparent;
    font-size: 18px;
}
.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedores-sombra{
    background-color: var(--blanco-contenedores);
    border-radius: 30px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
}
dialog{
    width: 350px;
    padding: 2rem 2rem 2rem 2rem;
    margin: auto;
    text-align: center;
}

.botones-pop-up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}
input:focus{
    outline: none;
}
input{
    height: 40px;
}
section{
    background-color: var(--fondo-pagina);
    background-image: url("../images/fondo_circulos.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden {
    display: none;
}