/* FONDO ------------------------------------------------------------------------------------------------ */
section{
    height: 100vh;
    max-height: 100vh;
    background-image: url("../images/fondo_circulos.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedor-global{
    padding: 0 12rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 2rem;
    color: var(--txt-color);
}
h5{
    font-size: 16px;
    font-weight: 500;
}
label,h5{
    margin-top: 0.5rem;
    color: grey;
    font-size: 20px;
}
form{
    margin-top: 2rem;
    width: 55%;
    height: auto;
    border-right: 2px solid var(--txt-color);
    display: flex;
    flex-direction: column;
}
#contenedor-bateria-sensor{
    width: 45%;
}
#contenedor-progress-bar{
    height: 200px;
    width: 200px;
    margin: 1rem 0;
}
form div{
    height: 40px;
    width: 90%;
    margin-bottom: 0.5rem;
}

.recuadros-inputs, input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 40px;
    width: 90%;
}

input:focus{
    outline: none;
}
.hidden{
    display: none;
}

dialog button{
    width: 48%;
    height: 30px;
}
#subrayado{
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0;
    margin-right: 7%;
}

#problemas-sensor{
    margin-top: 3rem;
}
button{
    margin-top: 1rem;
    height: 40px;
    width: 60%;
}
#email-usuario{
    margin-top: 0.5rem;
}

