/* FONDO ------------------------------------------------------------------------------------------------ */
section{
    max-height: 100vh;
    height: 100vh;
    background-image: url("../images/fondo_circulos.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#error{
    color: var(--txt-error);
    font-size: 14px;
    margin-bottom: 4rem;
}
h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
    color: var(--txt-color);
}
h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
label{
    font-size: 20px;
    font-weight: 600;
}
form{
    margin-top: 2rem;
    width: 80%;
}
input{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    height: 40px;
    width: 100%;
    padding-left: 1rem;
}
#contenedor-seguridad{
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 20px;
}
#progreso-seguridad{
    height: 20px;
    width: 50%;
    background-color: var(--fondo-pagina);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}
p{
    font-size: 15px;
}
#txt-seguridad{
    margin-top: -3.75rem;
    font-weight: 300;
    font-size: 15px;
}

.hidden{
    display: none;
}

#texto-error{
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    color: var(--txt-error);
}
dialog button{
    width: 48%;
    height: 30px;
}

@media screen and (min-width:750px){
    form{
        width: 40%;
    }
}

